#menubar {
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -20px;
    margin: -10px;
    font-family: 'Anton', sans-serif;
    margin: -8px;
    margin-bottom: 30px;
}

#fejlec {
    color: whitesmoke;
    text-align: center;
    margin-top: -20px;
    margin:auto;
    font-size: 10px;
    margin: -8px;
    width:unset;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: unset;
    background-image: linear-gradient(to right, rgb(0, 255, 21), rgb(0, 255, 55) , rgb(0, 255, 136) , rgb(0, 217, 255));
    background-size: 1000% 1000%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  } 

.body {
margin-top: 100px;

}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}
a:hover {
    color:dimgray;

}


.textbubble {
    margin-top: 20px;
    background: #efefef;
    border-radius: 4px;
    font-size: 20px;
    line-height: 1.3;
    margin: auto;
    max-width:unset;
    padding: 15px;
    position:unset;
    text-align: center;
}

#cimtemak {
    font-family: 'Anton', sans-serif;
}

.tavolsag {
    margin-left: 20px;
}


#bubblecim {
    text-align: center;
    font-size: 25px;
}

#lefttext {
    text-align: left;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
}

#focim {
    text-align: center;
    font-family: 'Anton', sans-serif;
}



@media all and (max-width: 500px){
    .pg{
      width:500px;
      margin:0 auto;
    }
  }


.gomb {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin: 5px;
    height: 60px;
    width: 90%;
}

.gomb:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  

  .menu {
    position: relative;
    display: inline-block;
  }


.menutartalom {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menutartalom a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.menutartalom a:hover {background-color: #ddd;}


.menu:hover .menutartalom {display: block;}

.menu:hover .menugomb {
    background-color: #000000;
    color: whitesmoke;





}

.menugomb {
    color: black;
    background-color: rgb(214, 213, 213);
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 200px;
}